# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bin/
obj/

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates

# Sensitive Data
appsettings.Development.json
secrets.json

# User-specific files
*.suo
*.user
*.userosscache